{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}
<section id="about-us">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>About us | Suffian Bagh Masjid</h2>
            <p class="lead">Asalamualikum wa Rahmatullahi wa Barakatuh, may the peace and blessings of Allah Subhanahu wa ta'ala be upon you, and welcome to Jama Masjid Suffian Bagh. We sincerely hope and make dua that Allah Subhanahu wa ta'ala counts your efforts and deeds on your scale of good deeds and may Allah Subhanahu wa ta'ala keep us all firm on the truth and on the straight path.</p>
        </div>
        <div id="about-slider">
            <div id="carousel-slider" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators visible-xs">
                    <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-slider" data-slide-to="1"></li>
                    <li data-target="#carousel-slider" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="/static/img/slider_one.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="item">
                        <img src="/static/img/slider_two.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="item">
                        <img src="/static/img/slider_three.jpg" class="img-responsive" alt="">
                    </div>
                </div>
                <a class="left carousel-control hidden-xs" href="#carousel-slider" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="right carousel-control hidden-xs" href="#carousel-slider" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>

        <br>
        <br>
        <div class="team">
            <div class="center wow fadeInDown">
                <h2>Masjid Committee</h2>
                <p class="lead text-justify">In the name of ALLAH, Most Gracious, Most Merciful
                    <br> The Masjid Committee is the official authority responsible for the co-ordination and management of Jama Masjid Suffian Bagh. The Masjid committee is informed and guided by the Quran and the Sunnah in all its aims, policies and procedures. It is a body working for the common good without interfering, displacing or isolation any existing Muslim work in the community. The Masjid committee shall have the supreme authority in all essential matters pertaining to the Masjid</p>
            </div>
            <div class="row clearfix">
                <div class="col-md-4 col-sm-6">
                    <div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img class="media-object" src="/static/img/man1.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <h4>Almuddin Saifi</h4>
                                <h5>President</h5>
                                <ul class="social_icons">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-md-offset-4">
                    <div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img class="media-object" src="/static/img/man2.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <h4>Sabir Alam</h4>
                                <h5>Financial</h5>
                                <ul class="social_icons">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                    </div>
                </div>
            </div>
        </div><br>
        <div class="row">
            <div class="wow fadeInDown col-md-12">
                <h2>Our Vision</h2>
                <ul>
                    <li>Live by the teachings of the Quran & the ‘Messengers’ sayings & actions</li>
                    <li>Demonstrate selflessness, integrity, truthfulness, forgiveness,  humility& modesty</li>
                    <li>Treat each other and all people with respect, fairness and justice</li>
                    <li>Continually acquire knowledge, learn and improve ourselves and help others to do the same</li>
                    <li>Take responsibility, work as a team, build relationships and partnerships based on doing the right thing</li>
                    <li>Have energy, enthusiasm, and the courage to lead</li>
                    <li>Be accountable to each other, continually remember death, and fearing final accountability to Allah.</li>
                    <li>To produce generations of well-adjusted Muslims, able to face with pride, dignity and confidence, the challenges of modern life whilst preserving their Islamic identity.</li>
                    <li>Learning, Living and Leading through Islam</li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}