<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Jama Masjid Suffian Bagh</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/animate.min.css" rel="stylesheet">
    <link href="/static/css/prettyPhoto.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="/static/css/responsive.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/img/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/img/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/img/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/img/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/img/ico/apple-touch-icon-57-precomposed.png">
    <!--js files-->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.prettyPhoto.js"></script>
    <script src="/static/js/jquery.isotope.min.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/wow.min.js"></script>
    
    <script type="text/javascript" src="PrayTimes.js"></script>
    <style>
    .myh1 {
        font-size: 30px !important;
        color: #1EBB11 !important;
        text-transform: uppercase !important;
    }
    /*#bottom {
        padding: 20px 0px 40px 0px;
        background: #72392c;
        border-top: 5px solid #b2803d;
    }*/
    </style>
    {% block head %} {% endblock %}
</head>

<body class="homepage">
    <header id="header">
        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img src="/static/img/logo1.png" alt="logo"></a>
                </div>
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about-us">About Us</a></li>
                        <li><a href="/prayers">Prayers</a></li>
                        <li><a href="/portfolio">Madrasa</a></li>
                        <li><a href="/school">School</a></li>
                        <!-- <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Drop Down<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">One</a></li>
                                <li><a href="#">One</a></li>
                                <li><a href="#">One</a></li>
                                <li><a href="#">One</a></li>
                            </ul>
                        </li> -->
                        <li><a href="/contact-us">Contact</a></li>
                        <li><a href="/donation">Donate</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="well" align="center" style="background-color: #e5f0fa; margin-bottom: 0px; padding: 0px;">
            <h1 class="myh1">Intazamian Committee Suffian Bagh</h1>
            <h4 style="font-size: 14px;">KIDWAI NAGAR. LUDHIANA-141008 (PUNJAB)</h4>
        </div>
    </header>
    {% block body %} 
    {% endblock %}
    <div id="bottom" style="border-top: 5px solid #1EBB11;">
        <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                            <h2>Passing the Baton</h2>
                            <div class="content">
                                <p>Measuring success.</p>
                                <p>The previous generation has done most of the hard work so that the coming generations can focus on education, providing guidance to others and becoming a benefit to society.</p>
                            </div>
                        <!-- /.block -->
                    </div>
                    <!-- /.region -->
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                            <h2>Quick Links</h2>
                            <div class="content">
                                <ul>
                                    <li><a href="/committee-members">Management</a></li>
                                    <li><a href="/mosque-visits-and-tours">Visiting the Mosque</a></li>
                                    <li><a href="/funeral-service-arrangements">Funeral Arrangement</a></li>
                                    <li><a href="/contact">Location</a></li>
                                </ul>
                            </div>
                        <!-- /.block -->
                    </div>
                    <!-- /.region -->
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                            <h2>Support your Masjid</h2>
                            <div class="content">
                                <p><a href="/donate-masjid"><span style="color:#1EBB11">Whoever build a mosque for Allah,<br /><strong>"Allah will reward them with a place in paradise"</strong></span></a></p>
                                <p><a href="/donate-masjid"><span style="color:#3a85ff"><strong>DONATE</strong></span></a></p>
                            </div>
                        <!-- /.block -->
                    </div>
                    <!-- /.region -->
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                            <h2>Intazamian Committee</h2>
                            <div class="content">
                                <h4>Masjid Premises, Suffian bagh</h4>
                                <p>Kidwai Nagar<br>Ludhiana-141008<br>PUNJAB</p>
                            </div>
                        <!-- /.block -->
                    </div>
                    <!-- /.region -->
                </div>
            </div>
        </div>
    </div>
    <footer id="footer" data-position="fixed">
        <div class="container">
            <div class="row">
                <div class="fr col-md-4">
                    &copy; 2018 Jama Masjid Suffian Bagh.
                </div>
                <div class="fi col-md-4" align="center">
                    <ul class="social-icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                </div>
                <div class="fs col-md-4" align="right">
                    Designed by <i class="fa fa-globe"></i> <a target="_blank" style="text-decoration: underline; color: greenyellow;" type="button" href="#">Rizzwan Aahmed</a><br>
                        <code>Contact no: +91 96466-36610</code>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>