{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}

<section id="portfolio">
    <div class="container">
    	<div class="row">
	        <div class="center wow fadeInDown">
	            <h2>Make Donation to Masjid</h2>
	            <h3>Those who spend their wealth (in Allah's Cause) by night and day, in secret and in public, they shall have their reward with their Lord. On them shall be no fear, nor shall they grieve (2:274)
			</h3>
	        </div>
	    </div>
	    <div class="wow fadeInDown">
		    <div class="row">
		    	<h3><strong>INTAZAMIAN COMMITTEE SUFFIAN BAGH</strong></h3>
		    </div>
		    <div class="row">
		    	<h3><strong>Punjab & Sindh Bank</strong></h3>
		    </div>
		    <div class="row">
		    	<h3><strong>IFSC CODE: </strong></h3>
		    </div>
		    <div class="row">
		    	<h3><strong>Account no: </strong></h3>
		    </div>
		    <div class="row">
		    	<h3><strong>Account Name: </strong></h3>
		    </div>
		    <div class="row">
		    	<h3>Jazak Allah Khair</h3>
		    </div>
		</div>
    </div>
</section>
{% endblock %}