{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}
<section id="portfolio">
    <div class="container">
        <div class="center">
            <h2>Madrasa Nurul Islam | Islamic Studies</h2>
            <p class="lead"></p>
        </div>
      <!--   <ul class="portfolio-filter text-center">
            <li><a class="btn btn-default active" href="#" data-filter="*">All Works</a></li>
            <li><a class="btn btn-default" href="#" data-filter=".bootstrap">Creative</a></li>
            <li><a class="btn btn-default" href="#" data-filter=".html">Photography</a></li>
            <li><a class="btn btn-default" href="#" data-filter=".wordpress">Web Development</a></li>
        </ul> -->
        <div class="row wow fadeInDown">
           <ol>
               <li><span style="color: #000000;"><strong>Mission Statement</strong></span></li>
                <p style="text-align: justify;"><span style="color: #000000;">Our objective at Madrasah Taleemud Deen is to develop the personalities of our children so that they are conscious of their responsibility to Allah (God the Creator) and to fellow humans. We want to see our children grow and develop an Islamic personality and an emotional attachment to Islam. We aim to achieve this by helping them develop their intellectual and spiritual potential and we believe parents must play a vital role in this process.</span></p>

                <li><span style="color: #000000;"><strong>Key stages</strong></span></li>
                <p style="text-align: justify;"><span style="color: #000000;">We know that children are all different and at Madrasah Taleemud Deen we assess the level of your child individually in each subject on a regular basis and tailor our program to meet their needs.</span></p>

                <li><span style="color: #000000;"><strong>Exams</strong></span></li>
                <p style="text-align: justify;"><span style="color: #000000;">An annual examination is held once a year before the month of Ramadhan. Exam preparations are organised by the madrasah a few weeks in advance to help prepare the children for the exam. Parents are encouraged to get involved in this regards. Madrasah rounds up each academic&nbsp;year&nbsp;with&nbsp;an award ceremony and performances&nbsp;produced by the teachers and presented by the pupils. Gifts are also awarded&nbsp;to the children.</span></p>

                <li><span style="color: #000000;"><strong>Term Times</strong></span></li>
                <p><span style="color: #000000;">The Madrasah Taleemud Deen term time follows the standard Lincolnshire school terms and holidays with a slight variation. Exact dates are communicated every year.</span></p>
                <p><span style="color: #000000;">The Madrasah opening times are from Monday to Friday from 06-07.30pm.</span></p>
                <p><span style="color: #000000;">Please note that these times are subject to change according to the season of the year.</span></p>
                <p><span style="color: #000000;">Any change will be communicated duly and can also be viewed on the website. Parents’ views&nbsp;may be sought to help us find the most convenient time.</span></p>

                <li><span style="color: #000000;"><strong>Fees</strong></span></li>
                <p style="text-align: justify;"><span style="color: #000000;">The tuition Fee for the Madrasah is £120/year for every child. The fee can be paid &nbsp;in full or in&nbsp;12 monthly&nbsp;installments (£10/month). Please note that parents must also cover the cost of each book provided to the child by the Madrasah or alternatively they can procure the books themselves.</span></p>
                <p style="text-align: justify;"><span style="color: #000000;"> We encourage all parents to send their children to Madrasah. We welcome your contribution and would greatly appreciate any donation to help us continue and improve this service. Donations are essential to help cover the cost of teachers’ wages, teaching material and stationery. Please check our <a href="http://lincolnmosque.com/donate/" target="_blank">donation</a> page.</span></p>
            </ol>
        </div>
    </div>
</section>
{% endblock %}