{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}

<section id="portfolio">
    <div class="container">
    	<div class="row">
	        <div class="center wow jumbotron fadeInDown">
	            <img src="/static/img/ips.png" class="img-responsive">
	        </div>
	    </div>
	    <div class="row wow fadeInDown">
	        <div class="col-md-8">
	        	<img src="/static/img/islamia-school.jpg" class="img-responsive">
	        </div>
	        <div class="col-md-4" style="text-align:justify">
	        	<h2>Welcome to Islamia Public School</h2>
	        	<p>In the name of Allah, the Most Gracious, the Most Merciful.</p>

				<p><code>As-salamu alaykum</code> and welcome to Islamia Public School.  We are a popular and well established school providing children with Islamic knowledge and Quranic reading skills.
				<br><br>
				We aim to provide our future generations with a sound foundation to build and lead spiritually healthy lives.  We encourage the seeking of knowledge, being humble and obtaining the blessings of Allah by following the guidance provided to us by The Prophet Muhammad (Peace Be Upon Him).
				<br><br>
				We pray for the Mercy and Blessings of Allah that our efforts result in success.</p>
	        </div>
	    </div>
    </div>
</section>
{% endblock %}